/* Globals */
html {
font-family: "Raleway", sans-serif;
box-sizing: border-box;
font-size: 16px;
}

body,
body * {
margin: 0;
padding: 0;
border: 0;

}

h1,
h2,
h3,
h4,
h5,
p,
a,
label,
li {
  color: black !important;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

b

/* Nav */
nav{
    z-index: 999;
}

.nav-link{
  font-size: 18px !important;
}
.navbar{
  transition: background-color 0.3s ease;
}

.bg-navbar{
  opacity: 90%;
}

.logo-img{
width: 1.5rem;
}

/* About us */
#about-us{
    background-color: #B5C0D0;
}

.icon-container{
    border-style: solid;
    border-width: 1px;
    border-color: #F5E8DD;
}

/* Features */
#features{
  background-color: #B5C0D0;
}

.border-card{
    border-style: solid;
    border-width: 1px;
    border-color: #F5E8DD !important;
}

.card-image{
  height: 170px;
}

/* Contact */
#contact{
  background-color: #B5C0D0;
}

.border-form{
    border-style: solid;
    border-width: 2px !important;
    border-color: #F5E8DD !important;
}